<footer class="footer">
  <div class="logos">
    <i class="fab fa-facebook-f" style="color: #ffffff;"></i>
    <i class="fab fa-instagram" style="color: #ffffff;"></i>
    <i class="fab fa-youtube" style="color: #ffffff;"></i>
  </div>
  <div class="lema">
    <h1>
      "El éxito no es un gran paso dado de una vez,sino muchos pequeños pasos dados en un día tras otro".<br>
      - Roberto Collier
    </h1>
  </div>
  <div class="contactanos">
    <h2>CONTÁCTANOS</h2>
    <div class="contacto-item">
      <div class="contactanoslogos">
        <i class="fas fa-envelope" style="color: #ffffff;"></i>
      </div>
      <div class="contactanostexto">
        <p>OptiLife&#64;gmail.com</p>
      </div>
    </div>
    <div class="contacto-item">
      <div class="contactanoslogos">
        <i class="fas fa-phone-square" style="color: #ffffff;"></i>
      </div>
      <div class="contactanostexto">
        <p>+51 995488633</p>
      </div>
    </div>
  </div>
</footer>

