.Fondo {
  height: 100%;     /* Asegura que html y body ocupen toda la altura de la pantalla */
  margin: 0;        /* Elimina márgenes predeterminados */
  display: flex;    /* Usamos flexbox para centrar el contenido */
  justify-content: center;  /* Centra horizontalmente el contenido */
  align-items: center;      /* Centra verticalmente el contenido */
  background-color: #1C394D;
}

/* Estilo para el fondo blanco (.menu) */
.menu {
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;   /* Organiza los elementos dentro de .menu de forma vertical */
  justify-content: center;  /* Centra el contenido dentro de .menu */
  align-items: center;      /* Centra el contenido dentro de .menu */
  width: 70vw;              /* Ajusta el ancho al 70% de la pantalla */
  height: 90vh;             /* Ajusta la altura al 80% de la pantalla */
  padding: 20px;            /* Agrega un poco de espacio interno */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Agrega sombra para dar profundidad */
}

/* Estilo para el contenedor dentro de .menu */
.container {
  display: flex;
  flex-direction: column;   /* Organiza los elementos en una columna */
  justify-content: center;  /* Centra el contenido dentro del contenedor */
  align-items: center;      /* Centra los elementos de manera vertical */
  width: 100%;              /* Ancho completo dentro de .menu */
  height: 100%;             /* Altura completa dentro de .menu */
}

/* Sidebar fijo */
.sidebar {
  position: fixed;            /* Fija el sidebar en la pantalla */
  top: 50px;                  /* Ajustamos el top para ubicarlo un poco más abajo del borde superior */
  left: 300px;                 /* Posicionamos el sidebar a la izquierda, 30px de margen */
  width: 80px;                /* Ajustamos el ancho del sidebar */
  height: 85vh;               /* La altura será casi igual al 95% de la pantalla */
  background-color: #00796b;  /* Color de fondo verde */
  border-radius: 40px;        /* Bordes redondeados */
  display: flex;
  flex-direction: column;     /* Los elementos dentro del sidebar se apilan en columna */
  align-items: center;        /* Alineación de los íconos u otros elementos al centro */
  padding-top: 20px;          /* Espaciado superior adicional para los íconos */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de profundidad */
  z-index: 100;               /* Asegura que el sidebar esté por encima de otros elementos */
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  margin-bottom: 20px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

nav li:hover {
  color: gray;
}

.logout {
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.logout:hover {
  color: #333;
}

.top-buttons {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.button-container {
  display: flex;
  gap: 15px;

}

.rounded-button {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 500px;
  height: 30px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s, background-color 0.3s;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rounded-button:hover {
  background-color: #f0f0f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.icon {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  color: #333;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  margin-top: 10px;
  margin-left: 170px;
}

.container-iz, .container-der {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;   /* Esconde cualquier contenido que se desborde */
  position: relative;
}

.food-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/* Detalles del alimento (imagen, título, descripción) */
.food-details {
  display: flex;
  flex-direction: row;
  align-items: center;  /* Centra los elementos */
  justify-content: center;
  text-align: center;
}

.food {
  object-fit: cover;
  width: 400px;
  height: auto;  /* Ajusta el tamaño de la imagen dentro de la tarjeta */
  overflow: hidden;
}

.food-details h2 {
  font-size: 35px;
  color: #333;
  font-weight: bold;
  text-align: right;
  line-height: 0.9;      /* Ajusta la altura de las líneas para evitar que se desborde */
  max-height: 1.3em;
}

.food-details p {
  font-size: 14px;
  color: #666;
  text-align: right;
}

/* Estilo del botón */
button {
  background-color: transparent;
  color: gray;
  cursor: pointer;
  border: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 0.4px solid gray;
}

button:hover {
  text-decoration: underline;
}

/* Estilo del ícono dentro del botón */
button i {
  margin-right: 10px;
  font-size: 14px; /* Ajustar el tamaño del ícono */
}

.cta {
  font-weight: bold;
  color: #00796b;
  cursor: pointer;
}

.progress-report {
  text-align: center;
}

.progress-report h2 {
  font-size: 20px;
  margin: 0;
}

.progress-report {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.report-btn {
  background-color: #00796b;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  width: 180px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
}

.activity-indicators {
  display: flex;
  justify-content: space-around;
  margin-top: 2px;
}

.indicator {
  background: linear-gradient(180deg, #1C394D, #2485A5);
  border-radius: 12px;
  width: 100px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 10px;
}

.indicator .icon {
  font-size: 24px;
  margin-bottom: 5px;
}

.weekly-progress {
  margin-top: 20px;
}

.day-progress {
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.day-progress .day {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #00796b;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 10px;
}

.day-progress p {
  font-size: 14px;
  color: #333;
  margin: 0;
}

.two-column-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  max-width: 800px;
}

.columna-derecha {
  width: 250px;
  height: 450px;
  background: linear-gradient(180deg, #1C394D, #2485A5);
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;
  padding: 20px;
  margin-left: 30px;
}

.card-header, .card-footer {
  width: 250px;
  height: auto;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Oculta el exceso de imagen si es necesario */
}

.card-header img, .card-footer img {
  max-width: 100%; /* Asegura que la imagen no sobrepase el ancho del contenedor */
  max-height: 100%; /* Asegura que la imagen no sobrepase el alto del contenedor */
  object-fit: cover;
  border-radius: 15px; /* Aplica bordes redondeados */
}



.hours {
  font-size: 30px;
  font-weight: lighter;
  margin: 0;
}

.card-image {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-content {
  background-color: #002b47;
  color: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: right;
  width: 600px;
  height: 150px;
  margin-top: 0;
  margin-left: 20px;
}



.rutina-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/* Detalles del alimento (imagen, título, descripción) */
.rutina {
  display: flex;
  flex-direction: row;
  align-items: center;  /* Centra los elementos */
  justify-content: center;
  text-align: center;
}

.ejer {
  object-fit: cover;
  width: auto;
  height: 180px;  /* Ajusta el tamaño de la imagen dentro de la tarjeta */
  overflow: hidden;
  margin-right: 20px;
}

.rutina h2 {
  font-size: 35px;
  color: white;
  font-weight: bold;
  text-align: left;
  line-height: 0.9;      /* Ajusta la altura de las líneas para evitar que se desborde */
  max-height: 1.3em;
}

.rutina p {
  font-size: 14px;
  color: white;
  text-align: left;
}

/* Estilo del botón */
.rut {
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 0.4px solid white;
}

button:hover {
  text-decoration: underline;
}


.agua {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 170px; /* Ajusta el ancho del contenedor */
  height: 220px;/* Ajusta la altura del contenedor */
  border-radius: 60px;
  border-top: none; /* Elimina cualquier borde superior que pudiera existir */
  margin-top: 40px;
}

.sueño {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrado horizontal */
  justify-content: center; /* Centrado vertical */
  width: 170px; /* Ajusta el ancho del contenedor */
  height: 220px; /* Ajusta la altura del contenedor */
  border-radius: 60px;
  border: none; /* Elimina cualquier borde superior que pudiera existir */


}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Ajusta según la necesidad */
}

.healthy-food-card {
  background-color: #fff; /* Fondo del card */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.action-buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.action-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #008cba; /* Cambia por tu color */
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.action-buttons button:hover {
  background-color: #005f75;
}

.img-btn{
  width: 500px;
  height: 230px;
}
.img-btn1{
  width: 500px;
  height: 270px;
  margin-top: 0;
}
