<div class="container">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Imagen de perfil -->
    <div class="profile-picture">
      <img src="../../../assets/img/icono1.png" alt="Perfil" routerLink="/profile" style="cursor: pointer;">
    </div>    
    <!-- Iconos del menú -->
    <nav>
      <ul>
        <li><i class="fa fa-home"></i></li>
        <li><i class="fa fa-bell"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-edit"></i></li>
        <li><i class="fa fa-sign-out-alt"></i></li>
      </ul>
    </nav>
    <!-- Botones en la parte superior -->
<div class="top-buttons">
  <button routerLink="/registro-alimento">Registrar Alimento</button>
  <button routerLink="/registro-agua">Registrar Hidratación</button>
  <button routerLink="/registro-sueno">Registrar Horas de Sueño</button>
</div>  
</div>
</div>
