<div class="container">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Imagen de perfil -->
    <div class="profile-picture">
      <img src="../../../assets/img/icono1.png" alt="Perfil">
    </div>
    <!-- Iconos del menú -->
    <nav>
      <ul>
        <li><i class="fa fa-home"></i></li>
        <li><i class="fa fa-bell"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-edit"></i></li>
        <li><i class="fa fa-sign-out-alt"></i></li>
      </ul>
    </nav>
  </div>
</div>
