<div class="landing-page">
  <!-- Encabezado con logo y botón -->
  <header>
    <div class="logo-container">
      <img src="assets/img/logo.png" alt="Logo OptiLife" class="logo">
    </div>
    <div class="button-container">
      <button class="join-button" [routerLink]="['/login']">Únetenos</button>
    </div>
  </header>
  <!-- Sección Principal -->
  <section class="main-banner">
    <div class="text-container">
      <h1>Cambia tus <span class="highlight">Hábitos</span>, <br> Cambia tu <span class="highlight">Vida</span></h1>
      <p>Descubre consejos, guías y productos para llevar una vida más saludable. Todo lo que necesitas para mejorar tu bienestar está a un clic de distancia.</p>
    </div>
    <div class="image-container">
      <img src="assets/img/ImgLanding1.png" alt="Imagen principal" class="main-image">
    </div>
  </section>
</div>

<!-- Sección de Beneficios -->
  <section class="benefits">
    <h2>Beneficios</h2>
    <div class="benefit-items">
      <div class="benefit-item">
        <img src="assets/img/beneficios1.png" alt="Seguimiento de Hábitos Saludables">
        <p>Seguimiento de Hábitos Saludables</p>
        <p>Registra y monitorea tus hábitos para alcanzar tus objetivos.</p>
      </div>
      <div class="benefit-item">
        <img src="assets/img/beneficios2.png" alt="Mantén tu Progreso">
        <p>Mantén tu Progreso</p>
        <p>Establece metas personalizadas y visualiza tu progreso con reportes detallados.</p>
      </div>
      <div class="benefit-item">
        <img src="assets/img/beneficios3.png" alt="Accede a Recursos Exclusivos">
        <p>Recursos Exclusivos</p>
        <p>Accede a recetas saludables, videos de ejercicios y guías de bienestar personal.</p>
      </div>
    </div>
  </section>

<!-- Sección de ¿Quiénes somos? -->
<section class="about-us">
    <div class="about-image">
      <img src="assets/img/pantalla.png" alt="Imagen tablet" class="tablet-image">
      <img src="assets/img/ImgLanding2.png" alt="Imagen sobre nosotros" class="landing-image">
    </div>
  <div class="about-text">
    <h2>¿Quiénes somos?</h2>
    <p>En OptiLife nos dedicamos a mejorar tu bienestar con servicios personalizados de salud. Ofrecemos herramientas adaptadas a tus necesidades para que alcances tus metas de forma eficiente. Nuestro compromiso es brindarte guías expertas y un seguimiento continuo para que te enfoques en tu salud.</p>
  </div>
</section>

<!-- Sección de ¿Cómo funciona la aplicación? -->
<section class="how-it-works">
  <h2>¿Cómo funciona la aplicación?</h2>
  <div class="steps">
    <div class="step">
      <div class="circle1">
        <img src="assets/img/icono1.png" alt="Icono 1" class="icon">
      </div>
      <p>Crea tu perfil, establece tus metas y personaliza tus objetivos de salud.</p>
    </div>
    <div class="step">
      <div class="circle2">
        <img src="assets/img/icono2.png" alt="Icono 2" class="icon">
      </div>
      <p>Monitorea tu actividad diaria, registra alimentos, hidratación y más.</p>
    </div>
    <div class="step">
      <div class="circle3">
        <img src="assets/img/icono3.png" alt="Icono 3" class="icon">
      </div>
      <p>Visualiza tu avance con gráficos y accede a contenido exclusivo como recetas y videos.</p>
    </div>
  </div>
</section>


<app-footer></app-footer>
