<div class="forgot-password-container">
  <div class="form-container">
    <h2>Recuperar Contraseña</h2>
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="email">Correo Electrónico</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Ingresa tu correo electrónico"
        />
        <p class="error" *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched">
          Por favor, ingresa un correo válido.
        </p>
      </div>
      <button type="submit" [disabled]="emailForm.invalid" class="submit-button">
        Enviar
      </button>
    </form>
    <p *ngIf="message" class="success-message">{{ message }}</p>
  </div>
</div>
